Установка библиотек

In [1]:
import pandas as pd
import gzip
import io
import numpy as np

Открытие файлов

In [2]:
with gzip.open('../data/data.MAF001.snps.vcf.recode.inputated.vcf.gz', 'rt') as f:
    lines = [line for line in f if line.startswith('#CHROM')]
header = pd.read_csv(io.StringIO(''.join(lines)), sep='\t')
columns = header.columns.tolist()

data = pd.read_csv('../data/data.MAF001.snps.vcf.recode.inputated.vcf.gz', comment = "#", sep = "\t", names=columns)

data.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,CRR504157,...,CRR505734,CRR505736,CRR505739,CRR505740,CRR505742,CRR505744,CRR505746,CRR505747,CRR505752,CRR505754
0,NC_024459.2,53013,.,A,G,.,PASS,.,GT,1|0,...,1|0,0|1,0|1,1|0,0|1,0|1,0|1,1|0,1|0,0|1
1,NC_024459.2,53064,.,T,C,.,PASS,.,GT,1|1,...,1|1,1|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,0|1
2,NC_024459.2,53109,.,C,T,.,PASS,.,GT,1|0,...,1|0,0|1,0|1,1|0,0|1,0|1,0|1,1|0,1|0,0|1
3,NC_024459.2,56073,.,G,C,.,PASS,.,GT,0|1,...,1|1,1|1,0|0,0|1,0|0,1|1,1|1,1|1,0|0,0|1
4,NC_024459.2,262740,.,T,C,.,PASS,.,GT,1|1,...,1|1,1|1,0|0,1|1,0|0,1|1,1|1,1|1,0|0,0|0

In [4]:
data_run = pd.read_csv('../data/run_ids.txt', sep='\t')
data_run.head()

,ID,Accession,Run title,BioProject accession,Experiment accession,Run data file type,File name 1,MD5 checksum 1,DownLoad1,File name 2,MD5 checksum 2,DownLoad2,Reference file name,MD5 for reference file,Assembly Name or Accession,Assembly Accession URL,other_db,accession_in_other_db,other_db_url
0,1,CRR504154,351,PRJCA009749,CRX444560,fastq,CRR504154_f1.fq.gz (3243119632 bytes),6dc4e1568749b5c5fd892fd290898772,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,CRR504154_r2.fq.gz (3496840447 bytes),18b2a9a0fad8754ffababdfba980e132,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,CRR504155,8941,PRJCA009749,CRX444561,fastq,CRR504155_f1.fq.gz (3611620182 bytes),0fd7451ad8f0ece650cd7472d368abaa,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,CRR504155_r2.fq.gz (4012189958 bytes),d37bb1980e1c4a5162090af91d2191bf,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,CRR504156,81162,PRJCA009749,CRX444562,fastq,CRR504156_f1.fq.gz (3885498941 bytes),b1a25a5654fd38cbd1678ad449d89048,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,CRR504156_r2.fq.gz (4212643428 bytes),fa42eeca731735fb7f8864da007c2b52,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,CRR504157,4F1,PRJCA009749,CRX444563,fastq,CRR504157_f1.fq.gz (5036990556 bytes),cee44023014de6a593435f5ec58dbcfe,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,CRR504157_r2.fq.gz (5886709753 bytes),0bb6abac533351f654088abeefe4c556,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,CRR504158,C8605_2,PRJCA009749,CRX444564,fastq,CRR504158_f1.fq.gz (3891591255 bytes),2c15efbf3b0dd3c48b18e670e18042a3,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,CRR504158_r2.fq.gz (4353921089 bytes),c3770326b470918c062ec2ad863e04fc,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_samples = pd.read_csv('../data/samples.list.txt', sep='\t', header = None)

data_samples.head()

           0
0  CRR504157
1  CRR504163
2  CRR504172
3  CRR504174
4  CRR504181

In [6]:
data_csv = pd.read_csv("../data/41477_2022_1190_MOESM3_ESM.csv", sep = "\t", header=1)
data_csv.head()

,Sample ID,Inbred line name,Breeding era,Origin,Subgroup,Heterotic group
0,1,17MC3248,II,"Beijing,China",PA 2,PA
1,2,17MC3255,II,"Beijing,China",PA 2,PA
2,3,MC9292,II,"Beijing,China",Admix,Admix
3,4,MC9300,II,"Beijing,China",SPT 1,SPT
4,5,MC5832,II,"Beijing,China",PA 2,PA

Исправление опечаток (можно было не делать)

In [7]:
data_csv['Inbred line name'] = data_csv['Inbred line name'].str.replace('-', '_')

data_csv['Inbred line name'] = data_csv['Inbred line name'].replace({
    'PH207': '207',
    'фев.48': '48_2',
    'L9101_7': '9101_7',
    'CML58M': 'CML58'
})

In [8]:
data_csv.shape

(1605, 6)

In [9]:
data_run.shape

(1604, 19)

Объединение датафреймов по названию линий

In [10]:
data_merge = data_csv.merge(data_run, left_on='Inbred line name', right_on='Run title', how='outer')

data_merge.head()

,Sample ID,Inbred line name,Breeding era,Origin,Subgroup,Heterotic group,ID,Accession,Run title,BioProject accession,...,File name 2,MD5 checksum 2,DownLoad2,Reference file name,MD5 for reference file,Assembly Name or Accession,Assembly Accession URL,other_db,accession_in_other_db,other_db_url
0,523,1007_3,II,"Jilin,China",PA 1,PA,1450.0,CRR505603,1007_3,PRJCA009749,...,CRR505603_r2.fq.gz (4430420279 bytes),44b51679798205ff64b3f1fc174a648c,ftp://download.big.ac.cn/gsa/CRA007020/CRR5056...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,643,100A,I,"Sichuan,China",Admix,Admix,576.0,CRR504729,100A,PRJCA009749,...,CRR504729_r2.fq.gz (4423633162 bytes),1ab5ba4bd52d879079a6cf3f9349488e,ftp://download.big.ac.cn/gsa/CRA007020/CRR5047...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1038,1029,I,"Shandong,China",Lancaster 2,NSS,823.0,CRR504976,1029,PRJCA009749,...,CRR504976_r2.fq.gz (4894565622 bytes),b7b3480f662a7cf487e84353a1f6130e,ftp://download.big.ac.cn/gsa/CRA007020/CRR5049...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1586,107,I,"Shandong,China",Lancaster 2,NSS,26.0,CRR504179,107,PRJCA009749,...,CRR504179_r2.fq.gz (3044637394 bytes),22348d5e0f39ee04489d6402b1accf08,ftp://download.big.ac.cn/gsa/CRA007020/CRR5041...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,459,11239,II,"Jilin,China",Admix,Admix,1377.0,CRR505530,11239,PRJCA009749,...,CRR505530_r2.fq.gz (3540312973 bytes),0b2540f642b227165198e2eb912c9b48,ftp://download.big.ac.cn/gsa/CRA007020/CRR5055...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data_merge.shape

(1606, 25)

Фильтрация интересующих образцов

In [12]:
name_samples = data_samples[0].to_list()

data_filtered = data_merge[data_merge['Accession'].isin(name_samples)]

data_filtered.head()

,Sample ID,Inbred line name,Breeding era,Origin,Subgroup,Heterotic group,ID,Accession,Run title,BioProject accession,...,File name 2,MD5 checksum 2,DownLoad2,Reference file name,MD5 for reference file,Assembly Name or Accession,Assembly Accession URL,other_db,accession_in_other_db,other_db_url
0,523,1007_3,II,"Jilin,China",PA 1,PA,1450.0,CRR505603,1007_3,PRJCA009749,...,CRR505603_r2.fq.gz (4430420279 bytes),44b51679798205ff64b3f1fc174a648c,ftp://download.big.ac.cn/gsa/CRA007020/CRR5056...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1038,1029,I,"Shandong,China",Lancaster 2,NSS,823.0,CRR504976,1029,PRJCA009749,...,CRR504976_r2.fq.gz (4894565622 bytes),b7b3480f662a7cf487e84353a1f6130e,ftp://download.big.ac.cn/gsa/CRA007020/CRR5049...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,344,1186,II,"Heilongjiang,China",Lancaster 2,NSS,150.0,CRR504303,1186,PRJCA009749,...,CRR504303_r2.fq.gz (3991046787 bytes),6e0d4acca56889d3bbc96f2fd038394a,ftp://download.big.ac.cn/gsa/CRA007020/CRR5043...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1079,13AO2,I,China,Lancaster 2,NSS,793.0,CRR504946,13AO2,PRJCA009749,...,CRR504946_r2.fq.gz (3669399719 bytes),971cd2982440b54a1aa7455ae36bc881,ftp://download.big.ac.cn/gsa/CRA007020/CRR5049...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1125,150_4Rel,I,"Beijing,China",Lancaster 1,NSS,1551.0,CRR505704,150_4Rel,PRJCA009749,...,CRR505704_r2.fq.gz (3102377474 bytes),5545f2d29dc59d190ac8f797a53685d8,ftp://download.big.ac.cn/gsa/CRA007020/CRR5057...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data_filtered.shape

(605, 25)

In [14]:
data_phenotype = data_filtered[['Accession', 'Heterotic group']]
data_phenotype.head()

    Accession Heterotic group
0   CRR505603              PA
2   CRR504976             NSS
8   CRR504303             NSS
14  CRR504946             NSS
18  CRR505704             NSS

In [15]:
data_phenotype['Heterotic group'].unique()

array(['PA', 'NSS', 'Iodent', 'PB', 'SS', 'SPT', 'Admix'], dtype=object)

Получение датафрейма с CRR образцов и их генотипами

In [18]:
#data_snp = data.iloc[:, [3, 4]].join(data.iloc[:, 9:])
data_snp = data.iloc[:, 9:]


data_snp.head()

,CRR504157,CRR504163,CRR504172,CRR504174,CRR504181,CRR504182,CRR504185,CRR504186,CRR504187,CRR504188,...,CRR505734,CRR505736,CRR505739,CRR505740,CRR505742,CRR505744,CRR505746,CRR505747,CRR505752,CRR505754
0,1|0,1|0,1|0,0|1,0|0,0|0,1|0,0|0,0|1,1|0,...,1|0,0|1,0|1,1|0,0|1,0|1,0|1,1|0,1|0,0|1
1,1|1,1|1,1|0,0|1,1|1,0|0,1|0,0|0,0|1,1|0,...,1|1,1|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,0|1
2,1|0,1|0,1|0,0|1,0|0,0|0,1|0,0|0,0|1,1|0,...,1|0,0|1,0|1,1|0,0|1,0|1,0|1,1|0,1|0,0|1
3,0|1,1|1,1|1,0|0,1|1,0|0,0|0,0|0,0|0,0|0,...,1|1,1|1,0|0,0|1,0|0,1|1,1|1,1|1,0|0,0|1
4,1|1,1|1,1|1,0|0,1|1,0|0,0|0,0|0,0|0,0|0,...,1|1,1|1,0|0,1|1,0|0,1|1,1|1,1|1,0|0,0|0

In [ ]:
#def translate_genotype(data_snp):

    #ref = np.array(data_snp['REF'])
    #alt = data_snp['ALT'].str.split(',').apply(lambda x: np.array(x))  

    #for col in data_snp.columns[2:]:
        #genotypes = data_snp[col].str.split('|', expand=True)

        #g1 = genotypes[0].astype(int)
        #g2 = genotypes[1].astype(int)

        #allele1 = np.where(g1 == 0, ref, np.where(g1 == 1, alt.str[0], np.where(g1 == 2, alt.str[1], g1)))
        #allele2 = np.where(g2 == 0, ref, np.where(g2 == 1, alt.str[0], np.where(g2 == 2, alt.str[1], g2)))

        #data_snp.loc[:, col] = allele1 + '|' + allele2

    #return data_snp

#data_snp_nucleotides = translate_genotype(data_snp)

In [ ]:
#data_snp_nucleotides = data_snp_nucleotides.drop(['REF', 'ALT'], axis=1)

In [ ]:
#data_snp_nucleotides.head()

,CRR504157,CRR504163,CRR504172,CRR504174,CRR504181,CRR504182,CRR504185,CRR504186,CRR504187,CRR504188,...,CRR505734,CRR505736,CRR505739,CRR505740,CRR505742,CRR505744,CRR505746,CRR505747,CRR505752,CRR505754
0,A|A,A|A,A|A,A|G,A|A,A|A,A|A,A|A,A|G,A|A,...,A|A,A|G,A|G,A|A,A|G,A|G,A|G,A|A,A|A,A|G
1,C|C,C|C,C|T,C|C,C|C,T|T,C|T,T|T,C|C,C|T,...,C|C,C|C,C|C,C|C,C|C,C|C,C|C,C|C,C|T,C|C
2,C|C,C|C,C|C,C|T,C|C,C|C,C|C,C|C,C|T,C|C,...,C|C,C|T,C|T,C|C,C|T,C|T,C|T,C|C,C|C,C|T
3,C|C,C|C,C|C,G|G,C|C,G|G,G|G,G|G,G|G,G|G,...,C|C,C|C,G|G,C|C,G|G,C|C,C|C,C|C,G|G,C|C
4,C|C,C|C,C|C,T|T,C|C,T|T,T|T,T|T,T|T,T|T,...,C|C,C|C,T|T,C|C,T|T,C|C,C|C,C|C,T|T,T|T

In [ ]:
#def standardize_genotypes(data_snp_nucleotides):

    #for col in data_snp_nucleotides.columns:  

        #genotypes = data_snp_nucleotides[col].str.split('|', expand=True)
        

        #genotypes[0] = genotypes.apply(lambda x: min(x), axis=1)
        #genotypes[1] = genotypes.apply(lambda x: max(x), axis=1)
        
        #data_snp_nucleotides[col] = genotypes[0] + '|' + genotypes[1]
    
    #return data_snp_nucleotides

#data_snp_nucleotides_standardize = standardize_genotypes(data_snp_nucleotides)

In [ ]:
#data_snp_nucleotides_standardize.head()

,CRR504157,CRR504163,CRR504172,CRR504174,CRR504181,CRR504182,CRR504185,CRR504186,CRR504187,CRR504188,...,CRR505734,CRR505736,CRR505739,CRR505740,CRR505742,CRR505744,CRR505746,CRR505747,CRR505752,CRR505754
0,A|A,A|A,A|A,A|G,A|A,A|A,A|A,A|A,A|G,A|A,...,A|A,A|G,A|G,A|A,A|G,A|G,A|G,A|A,A|A,A|G
1,C|C,C|C,C|T,C|C,C|C,T|T,C|T,T|T,C|C,C|T,...,C|C,C|C,C|C,C|C,C|C,C|C,C|C,C|C,C|T,C|C
2,C|C,C|C,C|C,C|T,C|C,C|C,C|C,C|C,C|T,C|C,...,C|C,C|T,C|T,C|C,C|T,C|T,C|T,C|C,C|C,C|T
3,C|C,C|C,C|C,G|G,C|C,G|G,G|G,G|G,G|G,G|G,...,C|C,C|C,G|G,C|C,G|G,C|C,C|C,C|C,G|G,C|C
4,C|C,C|C,C|C,T|T,C|C,T|T,T|T,T|T,T|T,T|T,...,C|C,C|C,T|T,C|C,T|T,C|C,C|C,C|C,T|T,T|T

In [ ]:
#def standardize_genotypes(data_snp_nucleotides):

    #for col in data_snp_nucleotides.columns:  
        #genotypes = data_snp_nucleotides[col].str.split('|', expand=True)
        #genotypes[0] = genotypes[0].apply(lambda x: ''.join(sorted(x))) 
        #genotypes[1] = genotypes[1].apply(lambda x: ''.join(sorted(x)))  
        #data_snp_nucleotides[col] = genotypes[0] + '|' + genotypes[1]
    
    #return data_snp_nucleotides

#data_snp_nucleotides = standardize_genotypes(data_snp_nucleotides)

In [ ]:
#data_snp_nucleotides.head()

,CRR504157,CRR504163,CRR504172,CRR504174,CRR504181,CRR504182,CRR504185,CRR504186,CRR504187,CRR504188,...,CRR505734,CRR505736,CRR505739,CRR505740,CRR505742,CRR505744,CRR505746,CRR505747,CRR505752,CRR505754
0,G|A,G|A,G|A,A|G,A|A,A|A,G|A,A|A,A|G,G|A,...,G|A,A|G,A|G,G|A,A|G,A|G,A|G,G|A,G|A,A|G
1,C|C,C|C,C|T,T|C,C|C,T|T,C|T,T|T,T|C,C|T,...,C|C,C|C,T|C,C|C,T|C,C|C,C|C,C|C,C|T,T|C
2,T|C,T|C,T|C,C|T,C|C,C|C,T|C,C|C,C|T,T|C,...,T|C,C|T,C|T,T|C,C|T,C|T,C|T,T|C,T|C,C|T
3,G|C,C|C,C|C,G|G,C|C,G|G,G|G,G|G,G|G,G|G,...,C|C,C|C,G|G,G|C,G|G,C|C,C|C,C|C,G|G,G|C
4,C|C,C|C,C|C,T|T,C|C,T|T,T|T,T|T,T|T,T|T,...,C|C,C|C,T|T,C|C,T|T,C|C,C|C,C|C,T|T,T|T

In [19]:
data_snp.index = data.iloc[:, 0]
data_snp = data_snp.T
data_snp.index.name = 'Accession'
data_snp.head()

#CHROM,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,...,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2
Accession,,,,,,,,,,,,,,,,,,,,,
CRR504157,1|0,1|1,1|0,0|1,1|1,1|0,1|0,1|0,1|0,1|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
CRR504163,1|0,1|1,1|0,1|1,1|1,1|0,1|0,1|0,1|0,1|0,...,1|1,0|1,0|1,1|1,0|0,1|1,1|1,1|1,0|0,0|0
CRR504172,1|0,1|0,1|0,1|1,1|1,0|1,0|1,0|1,0|1,0|1,...,0|0,1|0,0|0,0|0,0|0,0|1,0|1,0|1,1|0,1|0
CRR504174,0|1,0|1,0|1,0|0,0|0,0|0,0|0,0|0,0|0,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
CRR504181,0|0,1|1,0|0,1|1,1|1,1|0,1|0,1|0,1|0,1|0,...,0|1,1|1,1|1,1|1,1|0,1|1,1|1,1|1,0|1,0|1

In [22]:
data_snp_phenotype = data_snp.merge(data_phenotype, on="Accession", how="left")
data_snp_phenotype.head()

,Accession,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,NC_024459.2,...,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,NC_024468.2,Heterotic group
0,CRR504157,1|0,1|1,1|0,0|1,1|1,1|0,1|0,1|0,1|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,NSS
1,CRR504163,1|0,1|1,1|0,1|1,1|1,1|0,1|0,1|0,1|0,...,0|1,0|1,1|1,0|0,1|1,1|1,1|1,0|0,0|0,SPT
2,CRR504172,1|0,1|0,1|0,1|1,1|1,0|1,0|1,0|1,0|1,...,1|0,0|0,0|0,0|0,0|1,0|1,0|1,1|0,1|0,NSS
3,CRR504174,0|1,0|1,0|1,0|0,0|0,0|0,0|0,0|0,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,PB
4,CRR504181,0|0,1|1,0|0,1|1,1|1,1|0,1|0,1|0,1|0,...,1|1,1|1,1|1,1|0,1|1,1|1,1|1,0|1,0|1,PA

In [23]:
data_snp_phenotype.shape

(605, 186202)

In [24]:
data_snp_phenotype.to_csv('/mnt/users/ib_2025/Corn_ML_project/data/data_snp_phenotype_012.csv', index=False)